@{
    ViewBag.Title = "About";
}

<section id="content"><div class="ic"></div>
        <div class="main">
           
            <div class="wrapper">
            	<article class="column-1">
                	<div class="indent-left">
                        <div class="maxheight indent-bot">
                            <h3>Over ons</h3>
                            <p>Wij zijn een stel laatstejaarsstudenten informatica. Zeer toevallig volgen we allemaal dezelfde afstudeerrichting: Applicatieontwikkeling.</p>
                            <p>Ook zijn we heftige fans van de heerlijke Belgische chef-kok Peter Goossens. We hebben daarom gekozen om een site te maken over recepten.</p>
                        </div>
                    </div>
                </article>
                <article class="column-2">
                	<div class="maxheight indent-bot">
                        <h3 class="p1">Het doel van deze website</h3>
                        <h6 class="p2">Wat is nu precies het doel van deze website?</h6>
                        <p class="p2">Deze website heeft maar één bedoeling: mensen helpen! Het is mogelijk om recepten van sterrengerechten op te zoeken op onze website. 
                            Ook kunnen ingelogde gebruikers zelf recepten toevoegen, maar ook recepten een beoordeling geven.
                        </p>

                        De meeste van onze sterrengerechten zijn creaties van Peter Goossens. Maar ook andere helden in de keuken hebben toestemming gegeven om enkele van hun dierbare recepten te publiceren op onze website!
                        
                    </div>
                </article>
            </div>
        </div>
    </section>
