@{
    ViewBag.Title = "Home Page";
}
        <div class="row-bot">
        	<div class="row-bot-bg">
            	<div class="main">
                    <div class="slider-wrapper">
                        <div class="slider">
                            <ul class="items">
                                <li>
                                    <img src="@Url.Content("~/Images/slider-img1.jpg")" alt="" />
                                </li>
                                <li>
                                    <img src="@Url.Content("~/Images/slider-img2.jpg")" alt="" />
                                </li>
                                <li>
                                    <img src="@Url.Content("~/Images/slider-img3.jpg")" alt="" />
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <!--==============================content================================-->
    <section id="content"><div class="ic"></div>
        <div class="main">
            <div class="wrapper img-indent-bot">
                <article class="col-1">
                	<a href="~/Home/Sterrengerechten"><img class="img-border" src="~/Images/banner-1.jpg" height="149" width="290" alt=""></a>
                </article>
                <article class="col-1">
                	<a href="~/Home/Recepten"><img class="img-border" src="~/Images/banner-2.jpg" height="149" width="290" alt=""></a>
                </article>
                <article class="col-2">
                	<a href="~/Home/Recepten"><img class="img-border" src="~/Images/banner-3.jpg" height="149" width="290" alt=""></a>
                </article>
            </div>
            <div class="wrapper">
            	<article class="column-1">
                	<div class="indent-left">
                        <div class="maxheight indent-bot">
                            <h3>Onze troeven</h3>
                            <ul class="list-1">
                                <li><a href="#">Butternut pompoensoep</a></li>
                                <li><a href="#">Rozemarijnaardappeltjes</a></li>
                                <li><a href="#">Aardbeien met balsamicoazijn</a></li>
                                <li><a href="#">Indische rundslappen</a></li>
                                <li><a href="#">Lasagne met bechamelsaus</a></li>
                                <li><a href="#">Chocolademousse</a></li>
                                <li><a href="#">Spaghetti met ricotta</a></li>
                            </ul>
                        </div>
                        <a class="button-1" href="~/Home/Recepten">Lees meer</a>
                    </div>
                </article>
                <article class="column-2">
                	<div class="maxheight indent-bot">
                        <h3 class="p1">Peter Goossens</h3>
                        <h6 class="p2">Wij van Webchef zetten graag <a class="color-3" href="http://nl.wikipedia.org/wiki/Peter_Goossens" target="_blank">Peter Goossens</a> even in de kijker. Peter Goossens is namelijk de beste Belgische chef-kok van heel de wereld.</h6>
                        <p class="p2">Peter Goossens (Zottegem, 1964) is een Belgisch chef-kok die een restaurant heeft met drie Michelinsterren.
Na zijn opleiding in Hotelschool Ter Duinen in Koksijde, deed Goossens ervaring op in Parijs, waar hij vier jaar lang in diverse restaurants werkte, en in Thoissey en Kruishoutem.</p>

                        Vele van onze sterrengerechten komen dan ook van deze sublieme chef-kok. 
                        
                    </div>
                    <a class="button-2" href="~/Home/Sterrengerechten">Lees meer</a>
                </article>
            </div>
        </div>
    </section>

    <script type="text/javascript"> Cufon.now(); </script>
    <script type="text/javascript">
        $(window).load(function () {
            $('.slider')._TMS({
                duration: 1000,
                easing: 'easeOutQuint',
                preset: 'slideDown',
                slideshow: 7000,
                banners: false,
                pauseOnHover: true,
                pagination: true,
                pagNums: false
            });
        });
    </script>


	
    
